<div class="collection-card__content"> 
  <div class="news-letter__container news-letter-{{ section.id }}"> 
    <div class="news-letter__image"> 
      <div class="news-letter__content"> 
        <h1 class="news-letter-heading-{{section.id}}">{{ section.settings.news_letter_heading }}</h1>
        <div class="news-letter-description-{{ section.id }}">{{ section.settings.news_letter_paragraph }}</div>
        <div class="form-container">
          {% form 'customer' %}
            <div class="email-container">
              <div class="email">
                <input type="email" class="email-input" name="contact[email]" placeholder="Email address">
              </div>
              <div class="submit-{{ section.id }}">
                <input type="submit" class="sign-up-{{ section.id }}" value="Join" style="font-size:16px;">
              </div>
              
            </div>
            
          {% endform %}
          <div class="note"><p>*By completing this form you're signing up to receive our emails and can unsubscribe at any time </p></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% style %}
    {{ section.settings.font_family | font_face: font_display: 'swap' }}
  .news-letter__image {
    position:relative;
    width:100%;
    min-height:45vh;
  }

  .news-letter-{{ section.id }}{
    background-color:{{section.settings.section_background}};

  }

    .news-letter-heading-{{section.id}} {
      color : {{section.settings.heading_color}};
      font-family:{{section.settings.font_family.family}};
      font-weight:bold;
      font-family:Maven Pro
      text-align:center;
      font-size:23px;
      max-width:500px;
      
      
    }
    .news-letter-description-{{ section.id }} {
      color : {{section.settings.paragraph_color}};
      font-weight:400;
      text-align:center;
      max-width:500px;
     
    }
  .news-letter__content {
    width:100%;
    height:45vh;
    position : absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
    @media screen and (min-width:990px){
      .news-letter__image {
        min-height:40vh;
      }
      .letter-image img {
        height:40vh;
      }
      .news-letter__content {
        height:40vh;
      }
    }
    .form-container {
      height:100px;
      width:80%;
      text-align:center;
      max-width: 500px;
    }
    @media screen and (min-width:990px){
      .form-container {
        width:60%;
        max-width: 500px;
      }
    }
    .email-container {
      width:100%;
      height:50px;
      border:2px solid #808182;
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-top:20px;
    }
    .email {
    height:45px;
    width:70%;
    }
  .email-input {
    width:100%;
    height:45px;
    border:none;
    outline:none;
    color:#303030;
    font-weight:500;
    font-size:16px;
    padding-left:15px;
    background:transparent;
  }
    .submit-{{ section.id }} {
      height:47px;
      width:30%;
      display:flex;
      justify-content:center;
      align-items:center;
      color : {{section.settings.button_color}};
      background-color:{{section.settings.button_bg_color}};
      padding-right:10px;
    

    }
      @media screen and (min-width:990px){
      .submit-{{ section.id }} {
        width:25%;
      }
    }
    .sign-up-{{section.id}} {
      height:47px;
      font-weight:500;
      outline:none;
      border:none;
      color : {{section.settings.button_color}};
      background-color:{{section.settings.button_bg_color}};
      border-top-right-radius:{{section.settings.button_radius}}px;
      border-bottom-right-radius:{{section.settings.button_radius}}px;
    }
  .collection-card__content{
  margin-top:50px;
  }
{% endstyle %}
{% schema %}
{
  "name": "News letter",
  "tag": "section",
   "class": "homepage-section",
  "settings": [
 {
      "type": "color",
      "id": "section_background",
      "label": "Background",
      "default": "#c5c5c5"
    },
    {
    "type": "text",
    "id": "news_letter_heading",
    "label": "Text",
    "default": "Subscribe to our newsletter"
   },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
   
    {
      "type" : "richtext",
      "id" : "news_letter_paragraph",
      "label" : "Paragraph text",
      "default" : "<p>Sign up for our newsletter to recieve news, promotions, and annoucements.</p>"
    },
    {
      "type": "color",
      "id": "paragraph_color",
      "label": "Paragraph Color"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label" : "Button Background Color"
    }
    
  ],
  "presets" : [
    {
      "name" : "News Letter"
    }
  ]
}
{% endschema %}
